* {
	background-color: grey;
	margin: 0px;
	padding: 0px;
	font-family: : Times, Arial, Sans-serif;
	font-size: 12px;

}

.headerMenu {
	background-image:url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
	height: 60px;
	border-bottom: 50px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}
#wrapper {
	background-image:url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
	margin left: auto;
	margin-right: auto;
	width: 1000px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.search_box {
	background-image:url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
position: absolute;
top: 15px;
margin-left:50px;
}

@media screen and (max-width: 1280px) {
	#menu {

	background-image: url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
	position: absolute;
	top: 0px;
	right: 37px;
	padding-top: 19px;
	margin-right: 4%;

}
}
@media screen and (min-width: 1280px) {
	#menu {

	background-image: url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
	position: absolute;
	top: 0px;
	right:0px;
	padding-top:15px;
	margin-right: 6%
}
}


#menu a {
	color: green;
	text-decoration: none;
	font-size: 14px;
	background-image: url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
	background-repeat: no-repeat;
	padding-top: 19px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;

}
#menu a:hover {
	background-image: url(http://thumbs.dreamstime.com/t/metal-texture-10908618.jpg);
}

h1 {
	font-size: 50px;
	color: green;
	background-color: black;

}

.footer {
	color: white;
	background-color: grey;
	
}
		
		
		
		
		
		
		
		
