* {
	margin: 0px;
	padding: 0px;
	font-family: : Times, Arial, Sans-serif;
	font-size: 12px;

}
.headerMenu {
	background-color: black;
	height: 45px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}
#wrapper {
	margin left: auto;
	margin-right: auto;
	width: 1000px;
	padding-top: 0px;
	padding-bottom: 0px;


}
.logo {
	width: 125px;

}
.logo img {
	width: 150px;
	height: 43px;
}